@charset "UTF-8"
* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100% */
}
body{
    background-image: linear-gradient(to right,#31f79a,#1cac69);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.473);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color:#9D49F2 ;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}
h2{
    color:#BF7D56;
}
p{
    text-align: justify;
}