@charset "UTF-8";

/*
 #c5ebd6
 #83e1ad
 #3DDC84
 #2FA866
 #063D1E
*/
:root {
    --COR0: #c5ebd6;
    --Cor1: #83e1ad;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #063D1E;
}

body {
    background-color:var(--Cor1);
}